// **************************************
// main navigation
// **************************************

#mega-menu-wrap-primary{
   ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
         display: inline-block;
         a{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5;
            text-transform: uppercase;
            color: white;
            padding: 0 15px 0 15px;
         }
         a:hover{
            color: red;
         }
      }
      // li:last-child{
      //    a{
      //       padding: 0 0 0 15px;
      //    }
      // }
   }
}

// **************************************
// smooth scrolling
// **************************************
a.mPS2id-highlight {
   color: red;
}
a:focus {
	outline: none;
}


// submenu arrow
.dropdown.menu.vertical > li.opens-right > a::after{
   content: '';
   display: block;
   width: 0;
   height: 0;
   border: inset 5px;
   border-color: transparent transparent transparent #ffffff;
   border-left-style: solid;
   border-right-width: 0;
}
