// **************************************
// main navigation  mega-max-menu
// **************************************

#mega-menu-wrap-primary{
   float: right;
   ul{
      padding: 0;
      margin: 0;
      list-style: none;
      background: rgba(105, 105, 105, 0.73);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      li{
         display: inline-block;
         a{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5;
            text-transform: uppercase;
            color: white;
            padding: 0 15px 0 15px;
         }
         a:hover{
            color: red;
         }
      }
   }
}

@media(max-width: 980px){
   #mega-menu-wrap-primary{
      ul{
         li:last-child{
            a{
               padding: 0 10px 0 15px;
            }
         }
      }
   }
}


// **************************************
// shift nav
// **************************************
div.shiftnav-wrap{
   padding-top: 0px !important;
}
// shiftnav bar container
div#shiftnav-toggle-main{
   top: 65px !important;
   background: none !important;
}



// **************************************
// smooth scrolling
// **************************************
a.mPS2id-highlight {
   color: red;
}
a:focus {
	outline: none;
}


// submenu arrow
.dropdown.menu.vertical > li.opens-right > a::after{
   content: '';
   display: block;
   width: 0;
   height: 0;
   border: inset 5px;
   border-color: transparent transparent transparent #ffffff;
   border-left-style: solid;
   border-right-width: 0;
}
